################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GlobleLibrary/bin
/GlobleLibrary/obj
/PurchasesOrder/bin
/PurchasesOrder/obj
/Setup/Release
