<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PurchasesOrder.Properties.Settings.DataConnectionString"
            connectionString="Data Source=.;Initial Catalog=PurchasesOrder;User ID=sa;Password=India@123"
            providerName="System.Data.SqlClient" />
        <add name="PurchasesOrder.Properties.Settings.DataConnectionString2"
            connectionString="Data Source=.;Initial Catalog=PurchasesOrder;User ID=sa;Password=India@123" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
